# config.yaml

# Configuração do LightningModule
_target_: src.models.multitask_module.EnhancerLitModule

# --- Configurações dos Otimizadores e Schedulers ---
# Note que temos blocos separados para cada sub-rede.

optimizer_dirmap:
  _target_: torch.optim.AdamW
  _partial_: true  # Crucial: não cria o objeto, apenas a configuração.
  lr: 1e-4        # LR inicial para a dirmap_net
  weight_decay: 0.0

optimizer_enh:
  _target_: torch.optim.AdamW
  _partial_: true
  lr: 5e-4        # LR inicial para a enhancer_net
  weight_decay: 0.0

scheduler_dirmap:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.1
  patience: 5     # Paciência para a dirmap_net

scheduler_enh:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.2
  patience: 8     # Paciência diferente para a enhancer_net

# --- Configuração da Rede ---
net:
  _target_: src.models.components.MultiTaskDirMapEnh.MultiTaskDirMapEnh
  ndim: 2

# --- Outros Parâmetros do Módulo ---
compile: false
warmup_epochs_dirmap: 0 # Define quantas épocas treinar só a dirmap

# output_path: /storage/seabra/segmentation_study/test_data/tse1k/resunet_nfiq80/resunet_nfiq80_docs_mixed_lat_fnet/
# output_path: /storage/seabra/segmentation_study/test_data/basen_400/resunet_nfiq80/resunet_nfiq80_docs_mixed_lat_fnet/
# output_path: /storage/seabra/segmentation_study/test_data/sd27/resunet_nfiq80/resunet_nfiq80_docs_mixed_lat_fnet/
output_path: /storage/seabra/sd27_test/multitask_enh_dirmap_v4_pool_unet/

use_patches: false